table {
  width: 100%;
}

.mat-elevation-z8 {
  margin-top: 20px;
}

.loading-spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  color: grey;
}